body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
body {
    background-image: url('/static/images/background.jpg');  /* Adjust the path and filename accordingly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Add any additional styling rules as needed */
